<div class="bookcontainer">

  <!-- <p>
  {{book?.title}}
  </p> -->
<h3>

  <a href="https://en.wikipedia.org/wiki/Things_Fall_Apart\n">
    {{book?.title}}
  </a>
</h3>
   <p>
    ---{{book?.author}}({{book?.country}})
   </p>
   <p>
    Language:- {{book?.language}}
   </p>
   <p>
  Pages:- {{book?.pages}}
   </p>
   <p>
  Published :- {{book?.year}}
   </p>



  
    <!-- "author": "Chinua Achebe",
    "country": "Nigeria",
    "imageLink": "images/things-fall-apart.jpg",
    "language": "English",
    "link": "https://en.wikipedia.org/wiki/Things_Fall_Apart\n",
    "pages": 209,
    "title": "Things Fall Apart",
    "year": 1958 -->
  
</div>